doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/index.js")
        noscript: <style> .js-only { display: none } </style> 
        title Mark Kaldas
    body  
        #site-container
            #thin-site-container
                h1#site-title.center-inline Mark Kaldas
                    span#pronoun-fries.center-inline (He/Him)
                p#external-links 
                    each l in externalLinks
                        a.external-link(href=l.url, target="_blank")= l.label
                p.center-inline Software & Game Developer<br>BSc. Computer Science, 3 years professional experience & many more of freelance and hobby experience.
                a.center.external-link(href=resumeLocation, target="_blank")= "My Resume"
            #wide-site-container
                #columns.skills-columns
                    .column3 
                        h2.column-header.center-inline Languages <br>
                        div.inline.center-inline
                            each l in languages
                                span.item= l
                    .column3
                        h2.column-header.center-inline Tools & Frameworks <br>
                        div.inline.center-inline
                            each t in tools
                                span.item= t
                    .column3 
                        h2.column-header.center-inline Skills
                        ul.skills.center-inline
                            each s in skills
                                li.skill= s
                #gallery-container
                    h2.center-inline.column-header Gallery
                    #gallery 
                        each g in gallery
                            a.gallery-link(href=g, target="_blank"): img.gallery-image(src=g)
            #thin-site-container
                h2.column-header.intro Hello! 
                p.intro Welcome to my portfolio site. It's currently under construction, so it doesn't contain even a fraction of the experience I want to show off yet -- in the meantime, feel free to ask me whether I've worked with X technology. Chances are the answer is yes! I also have some more of my software <a href="https://github.com/markpwns1">on my Github</a>.<br>
                p.intro.center-inline If you don't already have my email, then you can reach me at:<br>
                    a#link-show-email.js-only (show email)
                    noscript (Please enable Javascript to view the email address)
                //- img.center(src="https://upload.wikimedia.org/wikipedia/commons/1/19/Under_construction_graphic.gif")
                h2.column-header Table of Contents
                ol
                    each c in categories
                        li.toc-category
                            a(href="#"+c.id)= c.label
                            ol(type="a")
                                each p in c.projects
                                    li: a.toc-link(href="#"+p.id,data-id=p.id)= p.label
            #wide-site-container
                #project-list
                    each c in categories 
                        .project-category
                            h2.center-inline.column-header= c.label
                            each p in c.projects
                                details.project(id=("details-" + p.id))
                                    summary
                                        a.project-title(id=p.id)= p.label
                                        if p.technologies
                                            .project-technologies
                                                each t in p.technologies
                                                    span.project-technology= t
                                    .project-body
                                        if p.embeds
                                            .project-images
                                                p Note: set Youtube videos to 720p or 1080p and enable fullscreen for best quality
                                                each e in p.embeds
                                                    iframe.project-embed(src=e, frameborder="0", allowfullscreen)
                                        if p.images
                                            .project-images
                                                each i in p.images
                                                    if p.tallimages
                                                        a(href=i, target="_blank"): img.project-image.tall(src=i)
                                                    else
                                                        a(href=i, target="_blank"): img.project-image(src=i)
                                        if p.link
                                            a.project-link(href=p.link, target="_blank") (Visit in new tab)
                                        if p.srclink
                                            a.project-link(href=p.srclink, target="_blank") (View source in new tab)
                                        if p.link || p.srclink
                                            br
                                        each d in p.description
                                            p.project-description= d


